/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4285f4;
  padding: 10px 20px;
}

.brand {
  font-size: 24px;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.login-info {
  display: flex;
  align-items: center;
}

.login-info a {
  text-decoration: none;
  color: #fff;
}

.login-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Main content styles */
main {
  padding: 20px;
}

.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 45%; /* Adjusted width for responsive layout */
  margin: 10px;
  padding: 100px;
}

.team-member:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.member-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.member-info h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.member-info p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}
